<?php
/*
  Template Name:      Vertical Cards
  Template Type:      Module
  Description:        A row of vertical cards.
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module feature-solution-block">
    <div class="container">
      <h2 class="type0 typeBold feature-solution-block__headline">
        Explore our capabilities:
      </h2>
      <div class="row">
        <div class="feature-solution-block__col">
          {{> components-feature-solution }}
        </div>
        <div class="feature-solution-block__col">
          {{> components-feature-solution }}
        </div>
        <div class="feature-solution-block__col">
          {{> components-feature-solution }}
        </div>
        <div class="feature-solution-block__col">
          {{> components-feature-solution }}
        </div>
        <div class="feature-solution-block__col">
          {{> components-feature-solution }}
        </div>
      </div>
    </div>
  </div>