<?php
/*
  Template Name:      Hero B - 1 Column
  Template Type:      Module
  Description:        Hero module with background image and blue block - one column
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module hero-b">
    <div class="hero-b__block">
      <div class="container">
        {{> components-hero-block }}
      </div>
    </div>
    {{> components-hero-image }}
  </div>