<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <div class="ar-element badge colors__text--blue">
        Label
      </div>

      <div class="ar-element badge colors__text--purple">
        Label
      </div>

      <div class="ar-element badge colors__text--teal">
        Label
      </div>

      <div class="ar-element badge colors__text--red">
        Label
      </div>
    </div>
  </div>