<?php
/*
  Template Name:      Site Footer Generic
  Template Type:      Module
  Description:        This is the site footer - generic (no logos).
  Last Updated:       12/13/2017
  Since:              1.2.4
*/
?>
  <footer class="site-footer-generic">
    <div class="container">
      <div class="row">
        <div class="site-footer-generic-copy">
          <small class="site-footer-generic__copyright">
            <span>© 2017 Arity, LLC. All rights reserved.</span>
            <span>|</span>
            <ul class="">
              <li class="__item menu-item menu-privacy-policy">
                <a href="#" class="__link" aria-selected="false">Privacy Policy</a>
              </li>
            </ul>
          </small>
        </div>
      </div>
    </div>
  </footer>