<?php
/*
  Template Name:      Sub Footer
  Template Type:      Module
  Description:        Block below the traditional footer (used in careers page)
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module sub-footer">
    <div class="container sub-footer__disclaimer">
      <p>Effective July 1, 2014, under Indiana House Enrolled Act (HEA) 1242, it is against public policy of the State of Indiana and a discriminatory practice for an employer to discriminate against a prospective employee on the basis of status as a veteran
        by refusing to employ an applicant on the basis that they are a veteran of the armed forces of the United States, a member of the Indiana National Guard or a member of a reserve component. </p>

      <p>For jobs in San Francisco, please see the notice regarding the <a href="http://adtrk.tw/7nKLw" target="_blank">San Francisco Fair Chance Ordinance</a>. </p>

      <p>For jobs in Los Angeles, please see the notice regarding the <a href="http://bca.lacity.org/site/pdf/eeo/Notice%20to%20Applicants%20and%20Employees%20for%20Private%20Employers.pdf" target="_blank">Los Angeles Ordinance</a>. </p>

      <p>It is the policy of Allstate to employ the best qualified individuals available for all jobs without regard to race, color, religion, sex, age, national origin, sexual orientation, gender identity/gender expression, disability, and citizenship status
        as a veteran with a disability or veteran of the Vietnam Era.</p>
    </div>
  </div>