<?php
/*
  Template Name:      2 Column Body
  Template Type:      Module
  Description:        Body block with two columns
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module page-footnote">
    <div class="container">
      <div class="row">
        <div class="page-footnote__content">
          <p>Sources listed in order of appearance: “Shared Mobility on the Road of the Future.” Morgan Stanley (June 2016). “The On-Demand Economy Is Growing, and Not Just for the Young and Wealthy.” Harvard Business Review (April 2016)</p>
        </div>
      </div>
    </div>
  </div>