<?php
/*
  Template Name:      Hero Block One Column
  Template Type:      Component
  Description:        One column content block within the "Hero B" type module
  Last Updated:       08/02/2017
  Since:              1.0.0
*/
?>

  <div class="ar-component hero-block">
    <h1 class="hero-block__header">Careers at Arity</h1>
    <div class="hero-block__p type0">
      <p>
        We’re looking for passionate, talented people to help us make a difference in transportation. Up to the challenge? Check out our openings below.
      </p>
    </div>
  </div>