<?php
/*
  Template Name:      Action Bar w/ Bkg
  Template Type:      Module
  Description:        Full width bar with headline, text and background image
  Last Updated:       11/04/2017
  Since:              1.1.0
*/
?>
  <div class="ar-module action-bar-w-bkg colors__bg--blue">
    <div class="container action-bar-w-bkg__block">
      <div class="action-bar-w-bkg__row">
        <div class="action-bar-w-bkg__content">
          <h2 class="action-bar-w-bkg__headline">Global innovations. Chicago headquarters.</h2>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="action-bar-w-bkg__bkg" style="background-image:url('../../images/action-bar-map.jpg');"></div>
  </div>