<?php
/*
  Template Name:      Text with Icon - Stack ONE Columns
  Template Type:      Component
  Description:        Stack of "Text with Icon" components in ONE column
  Last Updated:       08/03/2017
  Since:              1.0.0
*/
?>
  <div class="ar-component product-cta">
    <h2 class="type0 typeBold product-cta__headline">
      See this solution in action:
    </h2>
    <div class="type4 product-cta__p">
      <p>Power your shared mobility platform with deeper insights.</p>
    </div>
    <p>
      <a href="#" class="ar-element button button--primary white-blue-button--">
      <svg class="icon-svg" title="" role="img">
          <use xlink:href="#arrow-right"></use>
      </svg>
      <span class="button__label">View Shared Mobility Solutions</span>
  </a>
    </p>
  </div>