<?php
/*
  Template Name:      Content and Image Block
  Template Type:      Module
  Description:        Product or feature highlight ("River")
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div>

    <div class="ar-module content-image-block">
      <div class="container">
        <div class="row">
          <div class="content-image-block__col wide-- content-image-block__img-box">
            <img class="img-shadow" src="../../images/screenshot_1.png">
          </div>
          <div class="content-image-block__col narrow--">
            <div class="content-image-block__col-group">
              <h2 class="content-image-block__headline type3">Arity PreQual<sup>℠</sup></h2>
              <div class="content-image-block__content type0">
                <p>Know more during the screening process by analyzing a driver’s background information to measure relative risk and project potential losses.</p>
              </div>
              <p>
                <a class="blue-link content-image-block__arrow-link" href="#form__sms">
                  <svg class="icon-svg" title="" role="img">
                    <use xlink:href="#arrow-right"></use>
                  </svg> Want to see Arity PreQual in action?<br>Contact us for more information.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ar-module content-image-block">
      <div class="container">
        <div class="row">
          <div class="content-image-block__col wide-- content-image-block__img-box">
            <img class="img-shadow" src="../../images/screenshot_1.png">
          </div>
          <div class="content-image-block__col narrow--">
            <div class="content-image-block__col-group">
              <h2 class="content-image-block__headline type3">Arity PreQual<sup>℠</sup></h2>
              <div class="content-image-block__content type0">
                <p>Know more during the screening process by analyzing a driver’s background information to measure relative risk and project potential losses.</p>
              </div>
              <p>
                <a class="blue-link content-image-block__arrow-link" href="#form__sms">
                  <svg class="icon-svg" title="" role="img">
                <use xlink:href="#arrow-right"></use>
              </svg> Want to see Arity PreQual in action?<br>Contact us for more information.
                </a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="ar-module content-image-block">
      <div class="container">
        <div class="row">
          <div class="content-image-block__col wide-- content-image-block__img-box">
            <img class="img-shadow" src="../../images/screenshot_1.png">
          </div>
          <div class="content-image-block__col narrow--">
            <div class="content-image-block__col-group">
              <h2 class="content-image-block__headline type3">Arity PreQual<sup>℠</sup></h2>
              <div class="content-image-block__content type0">
                <p>Know more during the screening process by analyzing a driver’s background information to measure relative risk and project potential losses.</p>
              </div>
              <p>
                <a class="blue-link content-image-block__arrow-link" href="#form__sms">
                  <svg class="icon-svg" title="" role="img">
                  <use xlink:href="#arrow-right"></use>
              </svg> Want to see Arity PreQual in action?<br>Contact us for more information.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>