<?php
/*
  Template Name:      Promo
  Template Type:      Module
  Description:        Promo CTA with the capsule component
  Last Updated:       08/03/2017
  Since:              1.0.0
*/
?>

  <div class="ar-module promo promo--light">
    <div class="container">
      {{> components-capsule }}
    </div>
  </div>