<?php
/*
  Template Name:      Hero C - Generic
  Template Type:      Module
  Description:        Hero module with solid background and title
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module hero-c">
    <div class="hero-c__block">
      <div class="container">
        <h1 class="hero-c__title type2">Some Title</h1>
      </div>
    </div>
  </div>