<?php
/*
  Template Name:      Product Stats
  Template Type:      Component
  Description:        Highlight key figures/numbers separate from headline or body copy.
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <h4 class="ar-component product-stats">
    <span class="type2 product-stats__value">
        <span id="product-stats__value_85" data-animstart="" data-animvalue="85" data-animdecimal="0">85</span>+ years
    <!-- <sup class="product-stats__footnote">1</sup> -->
    </span>
    <span class="type4 product-stats__p">
        of claims frequency and severity data
    </span>
  </h4>

  <h4 class="product-stats__item" id="insurance__">
    <span class="type2 product-stats__value">
        <span id="product-stats__value_10" data-animstart="0" data-animvalue="10" data-animdecimal="0">10</span>+ years
    <!-- <sup class="product-stats__footnote">2</sup> -->
    </span>
    <span class="type4 product-stats__p">
        of data directly from cars
    </span>
  </h4>

  <h4 class="product-stats__item" id="insurance__">
    <span class="type2 product-stats__value">
        <span id="product-stats__value_22" data-animstart="0" data-animvalue="22" data-animdecimal="0">22</span>B miles
    <!-- <sup class="product-stats__footnote">3</sup> -->
    </span>
    <span class="type4 product-stats__p">
        of driving data built into models
    </span>
  </h4>