<?php
/*
  Template Name:      T5 Careers
  Template Type:      Template
  Description:        This is a T5 Careers
  Last Updated:       09/15/2017
  Since:              1.0.0
*/
?>

  {{> modules-site-header }}
  <div class="site-content">
    {{> modules-hero-b }} {{> modules-career-list }} {{> modules-action-bar }}
  </div>
  {{> modules-site-footer }} {{> modules-sub-footer }}