//---------------------------------------------------------------------
// Colors
//---------------------------------------------------------------------

$color-black: #000;
$color-grey: #9b9b9b;
$color-grey-light: #eee;
$color-white: #fff;
