//---------------------------------------------------------------------
// Variables
//---------------------------------------------------------------------

// Defaults
//---------------------------------------------------------------

// Colors
//---------------------------------------------------------------
$color-default: $color-black;

// Fonts
//---------------------------------------------------------------
$font-times: 'Times', sans-serif;

// Z-indexes
//---------------------------------------------------------------
$z-index-site-header: 100;

// Grid
//---------------------------------------------------------------

// Breakpoints
//---------------------------------------------------------------

// Animations
//---------------------------------------------------------------
