<?php
/*
  Template Name:      T2b Applications Overview
  Template Type:      Template
  Description:        This is a T2b Applications Overview - (i.e., Industry Applications)
  Last Updated:       08/02/2017
  Since:              1.0.0
*/
?>

  {{> modules-site-header }}
  <div class="site-content">
    {{> modules-hero-b-two-column }} {{> modules-two-column-icons }} {{> modules-career-list }} {{> modules-leadgen-form }}
  </div>
  {{> modules-site-footer }}