<?php
/*
  Template Name:      Action Bar
  Template Type:      Module
  Description:        Full width bar with side-by-side links
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module action-bar colors__bg--blue has-divider">
    <div class="container">
      <div class="action-bar__row">
        <div class="action-bar__left">
          <h2 class="action-bar__headline">Stay tuned</h2>
          <p>Don’t see the position you’re looking for? Send us your resume and we’ll keep you informed of future opportunities.</p>
          <div class="show-mobile">
            <p>
              <a class="block_link" href="mailto:hr@arity.com">
              <span class="button--circle blue-bg--">
                <svg class="icon-svg" title="" role="img">
                    <use xlink:href="#email"></use>
                </svg>
              </span>
              <span class="block_link__text">hr@arity.com</span>
            </a>
            </p>
          </div>
        </div>
        <div class="action-bar__center">&nbsp;</div>
        <div class="action-bar__right">
          <h2 class="action-bar__headline">An inside look</h2>
          <p>Follow us on Instagram for a closer look at life in our Chicago office.</p>
          <div class="show-mobile">
            <p>
              <a class="block_link" href="http://www.instagram.com/arityofficial/" target="_blank">
              <span class="button--circle blue-bg--">
                <svg class="icon-svg" title="" role="img">
                    <use xlink:href="#social-instagram"></use>
                </svg>
              </span>
              <span class="block_link__text">arityoffical</span>
            </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>