<?php
/*
  Template Name:      T3 Product Detail
  Template Type:      Template
  Description:        This is a T3 Product Detail - (i.e., Product Pages - Shared Mobility Solutions)
  Last Updated:       08/03/2017
  Since:              1.0.0
*/
?>

  {{> modules-site-header }}
  <div class="site-content">
    {{> modules-hero-b-two-column }} {{> modules-module-header }} {{> modules-content-image-block }} {{> modules-contact-form-with-cta }}
  </div>
  {{> modules-site-footer }}