<?php
/*
  Template Name:      T4 Error
  Template Type:      Template
  Description:        This is a T4 Error
  Last Updated:       09/15/2017
  Since:              1.0.0
*/
?>

  {{> modules-site-header }}

  <div class="site-content">
    {{> modules-error-content }}
  </div>

  {{> modules-site-footer }}