<?php
/*
  Template Name:      2 Column Body
  Template Type:      Module
  Description:        Body block with two columns
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module body-two-column body-two-column--contact">
    <div class="row">
      <div class="body-two-column__col left--">
        {{> components-lite-form }}
      </div>
      <div class="body-two-column__col right--">
        <h2 class="colors__text--white type0 body-two-column__title"> We're easy to find. </h2>
        <p>
          <a href="https://www.google.com/maps/place/222+W+Merchandise+Mart+Plaza,+Chicago,+IL+60654/@41.8885238,-87.6376422,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2cb6fa650467:0xd94994faa9dd5715!8m2!3d41.8885198!4d-87.6354482" target="_blank" class="address__marker  colors__text--white"
            role="presentation" title="">
            <span class="address__linktext"> 222 W Merchandise Mart Plaza<br> Suite 875<br> Chicago, IL 60654 </span></a>
        </p>
      </div>
    </div>
  </div>