<?php
/*
  Template Name:      Feature Solution Block
  Template Type:      Module
  Description:        Row of two feature solutions (as appear currently on the Understand/Empower pages)
  Last Updated:       08/02/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module big-feature-block">
    <div class="big-feature-block__container">
      {{> components-round-image }}
      <div class="row">
        <div class="big-feature-block__col">
          {{> components-feature-content }}
        </div>
      </div>
    </div>
  </div>