//---------------------------------------------------------------------
// Base: Icon
//---------------------------------------------------------------------

.icon {
  background-color: transparent;
  fill: currentColor;
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.15em;
}
