<?php
/*
  Template Name:      Text with Icon - Stack Two Columns
  Template Type:      Component
  Description:        Stack of "Text with Icon" components in TWO column
  Last Updated:       08/03/2017
  Since:              1.0.0
*/
?>
  <div class="ar-component text-icon-stack text-icon-stack--two-col">
    {{> components-text-with-icon }} {{> components-text-with-icon }} {{> components-text-with-icon }} {{> components-text-with-icon }}
  </div>