<?php
/*
  Template Name:      2 Column Body
  Template Type:      Module
  Description:        Body block with two columns
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module body-column body-two-column">
    <div class="container">
      <h2 class="type0 typeBold body-column__headline">
        Explore examples of our solutions in action:
      </h2>
      <div class="row">
        <div class="body-two-column__col left--">
          {{> components-feature-solution }} {{> components-text-icon-stack }} {{> components-product-cta }}
        </div>
        <div class="body-two-column__col right--">
          {{> components-product-stats }}
        </div>
      </div>
    </div>
  </div>