<?php
/*
  Template Name:      Horizontal Rule
  Template Type:      Module
  Description:        Horizontal Rule with dotted line
  Last Updated:       12/05/2017
  Since:              1.2.0
*/
?>
  <div class="ar-module horizontal-rule">
    <div class="container line-container">
      <div class="line"></div>
    </div>
  </div>