<?php
/*
  Template Name:      Contact Form
  Template Type:      Module
  Description:        Page block with two columns - Contact Form on left - Stacked CTA on Right
  Last Updated:       11/04/2017
  Since:              1.1.0
*/
?>

  <div class="ar-module contact-form">
    <div class="container">
      <div class="contact-form__indicates">
        <span class="required">*</span> indicates required field
      </div>
      <div class="contact-form__wrap">
        {{> components-form }}
      </div>
    </div>
  </div>