<?php
/*
  Template Name:      T2a Solutions Overview
  Template Type:      Template
  Description:        This is a T2a Solutions Overview - (i.e., Understanding your drivers)
  Last Updated:       08/02/2017
  Since:              1.0.0
*/
?>

  {{> modules-site-header }}
  <div class="site-content">
    {{> modules-hero-a-wo-image }} {{> modules-feature-solution-block }} {{> modules-promo-light-bg }} {{> modules-leadgen-form }}
  </div>
  {{> modules-site-footer }}