<div class="container">
  <div class="row">
    <div class="col">

      <h2>Primary</h2>
      <ul class="sg-colors">
        <li>
          <span class="sg-swatch" style="background: #011C2C;"></span>
          <span class="sg-label">
            Type 1 Color<br />
            #011C2C<br />
            $type-color1
          </span>
        </li>
        <li>
          <span class="sg-swatch" style="background: #63727E;"></span>
          <span class="sg-label">
            Type 2 Color<br />
            #63727E<br />
            $type-color2
          </span>
        </li>
        <li>
          <span class="sg-swatch" style="background: #FFFFFF;"></span>
          <span class="sg-label">
            Type 3 Color<br />
            #FFFFFF<br />
            $type-color3
          </span>
        </li>
      </ul>

      <h2>Secondary</h2>
      <ul class="sg-colors">
        <li>
          <span class="sg-swatch" style="background: #007AED;"></span>
          <span class="sg-label">
					  Primary 1<br />
						#007AED<br />
						$primary1
					</span>
        </li>
        <li>
          <span class="sg-swatch" style="background: #E2EF1C;"></span>
          <span class="sg-label">
						Primary 2<br />
						#E2EF1C<br />
						$primary2
					</span>
        </li>
        <li>
          <span class="sg-swatch" style="background: #00B0B9;"></span>
          <span class="sg-label">
						Primary 3<br />
						#00B0B9<br />
						$primary3
					</span>
        </li>
      </ul>

      <h2>Tertiary</h2>
      <ul class="sg-colors">
        <li>
          <span class="sg-swatch" style="background: #8860ED;"></span>
          <span class="sg-label">
					  Tertiary 1<br />
						#8860ED<br />
						$tertiary1
					</span>
        </li>
      </ul>

      <h2>Error</h2>
      <ul class="sg-colors">
        <li>
          <span class="sg-swatch" style="background: #FB3D41;"></span>
          <span class="sg-label">
					  Error<br />
						#FB3D41<br />
						$error-color
					</span>
        </li>
      </ul>

    </div>
  </div>
</div>