<?php
/*
  Template Name:      Horizontal Cards
  Template Type:      Module
  Description:        A row of horizontal cards.
  Last Updated:       08/02/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module horizontal-cards">
    <div class="row">
      <div class="horizontal-cards__title">
        <h2 class="type0 colors__text--white">
          Explore our capabilities:
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="horizontal-cards__col">
        {{> components-horizontal-card }}
      </div>
    </div>
  </div>