<?php
/*
  Template Name:      Accordion
  Template Type:      Module
  Description:        List of accordion items
  Last Updated:       12/07/2017
  Since:              1.2.2
*/
?>
  <div class="accordion-wrapper">
    <div class="container accordion-container">
      <div id="accordion" class="accordion" role="tablist">
        <h2 class="accordion-header">Frequently asked questions</h2>
        <div class="items-wrapper">
          {{> components-accordion-item }}
        </div>
      </div>
    </div>
  </div>