<?php
/*
  Template Name:      1 Column Body
  Template Type:      Module
  Description:        Body block with one column
  Last Updated:       08/01/2017
  Since:              1.0.0
*/
?>
  <div class="ar-module body-column body-one-column">
    <div class="container">
      <div class="row">
        <div class="body-one-column__col default-styles">
          One Column
        </div>
      </div>
    </div>