### Wordpress Custom .htaccess

# ----------------------------------------------------------------------
# | Custom Rules                                                       |
# ----------------------------------------------------------------------

# Force Trailing Slash
<IfModule mod_rewrite.c>
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
  RewriteCond %{REQUEST_URI} !^/wp-json/
  RewriteRule ^(.*)$ $1/ [L,R=301]
</IfModule>

# ----------------------------------------------------------------------
# | Wordpress                                                          |
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Prevent requests to wp/index.php from being rewritten
  RewriteRule ^$ wp/index.php [L]

  # Get rid of the silly submodule directory
  # RewriteRule ^/(wp) $1 [L,R=301]

  # add a trailing slash to /wp-admin
  RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

  # Skip real files and directories before sending to Wordpress index
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Otherwise send it to WordPress
  RewriteRule . wp/index.php [L]

</IfModule>

# BEGIN WordPress
# END WordPress
