<?php
/*
  Template Name:      2 Column Icons Body
  Template Type:      Module
  Description:        Body block with two column icons
  Last Updated:       11/28/2017
  Since:              1.2.0
*/
?>
  <div class="ar-module body-column body-two-column">
    <div class="container">
      <h2 class="type0 typeBold body-column__headline icons-headline">
        Explore examples of our solutions in action:
      </h2>
      <div class="row no-border">
        <div class="body-two-column__col half-stack--">
          {{> components-text-icon-stack-no-headline }}
        </div>
        <div class="body-two-column__col half-stack--">
          {{> components-text-icon-stack-no-headline }}
        </div>
      </div>
    </div>
  </div>